<footer class="h-80 mt-12 text-[#fde9d0]">
  <div class="h-1/5 max-w-6xl mx-auto flex flex-row-reverse text-right bg-transparent">
    <div>
      <img class="w-40" src="{{ shop.brand.logo | img_url:'large'}}" width="" height="" alt="{{ shop.name }}">
    </div>
  </div>
  <div class="p-6 pt-10 h-4/5 bg-black ">
    <div class=" max-w-6xl mx-auto flex items-center justify-between">
      <div class="max-w-6xl mx-auto flex flex-col items-left justify-start gap-3">
        <div class="flex gap-3">
          <a
            href="https://www.facebook.com/profile.php?id=61584605544892"
            class="text-black w-8 h-8 p-1 text-xl flex items-center justify-center bg-[#fde9d0] rounded-full hover:text-[#cd0102] transition-colors"
            aria-label="Facebook"
          >
            <i class="fa-brands fa-facebook-f"></i>
          </a>
          <a
            href="https://www.instagram.com/faratik_eg/"
            class="text-black w-8 h-8 p-1 text-xl flex items-center justify-center bg-[#fde9d0] rounded-full hover:text-[#cd0102] transition-colors"
            aria-label="Instagram"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
          <a
            href="https://www.tiktok.com/@faratik_egy"
            class="text-black w-8 h-8 p-1 text-xl flex items-center justify-center bg-[#fde9d0] rounded-full hover:text-[#cd0102] transition-colors"
            aria-label="TikTok"
          >
            <i class="fa-brands fa-tiktok"></i>
          </a>
        </div>
        <div class="text-[#fde9d0] text-md font-light">
          <p><i class="fa-regular fa-copyright"></i> 2025 Faratik</p>
          <p>All Rights Reserved</p>
          <p>Developed by Faratik Development Team</p>
        </div>
        <div class="flex gap-4 text-sm">
          <a href="/pages/privacy-policy" class="hover:text-[#cd0102] transition-colors">Privacy Policy</a>
          <a href="/pages/delivery-and-shipping-policy" class="hover:text-[#cd0102] transition-colors"
            >Delivery and Shipping Policy</a
          >
          <a href="/pages/cancellation-and-return-policy" class="hover:text-[#cd0102] transition-colors"
            >Cancellation and Refund Policy</a
          >
        </div>
      </div>
      <div class="text-[#fde9d0] text-4xl hidden md:flex font-[bangers] outlined-text">
        Bringing Fun & Coziness To Every Workspace
      </div>
    </div>
  </div>
</footer>
