<footer class="bg-black text-white">
  <div>
    <a href="" class="text-black w-fit p-1 text-xl flex items-center justify-center bg-[#fde9d0] rounded-full">
      <i class="fa-brands fa-facebook-f"></i>
    </a>
    <a href="" class="text-black w-fit p-1 text-xl flex items-center justify-center bg-[#fde9d0] rounded-full">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="" class="text-black w-fit p-1 text-xl flex items-center justify-center bg-[#fde9d0] rounded-full">
      <i class="fa-brands fa-tiktok"></i>
    </a>
  </div>
</footer>
