<div class="hero min-h-screen border-b-12 border-white relative">
  <a href="{{ routes.collections_url }}"
    ><button class="absolute bg-[#f2bb06] btn-cartoon-orange text-3xl font-[bangers] bottom-3 px-3 py-2 left-1/2 -translate-x-1/2 sha">
      <p>Explore collection!</p>
    </button></a
  >
</div>
